@model Models.CredentialsViewModel
@{
    ViewBag.Title = Resources.PageTitles.Login;
}
@using EmployeeManagementProject.App_LocalResources

<div style="width:100%">
@using (Html.BeginForm("AuthenticateLogin", "Home", FormMethod.Post))
{
    <h3 class="text-primary">@Login.Loginrequest</h3>

    <div class="text-info row" style="margin-top: 10px">
    <div class="col-md-2">@Html.NameFor(m=>m.Email)</div>
    <div class="col-md-3">@Html.TextBoxFor(m=>m.Email)</div>
    </div>

    <div class="text-info row" style="margin-top: 10px">
        <div class="col-md-2">@Html.NameFor(m => m.Password)</div>
        <div class="col-md-3">@Html.PasswordFor(m => m.Password)</div>
    </div>
    
    
    <div class="row" style="margin-top: 10px">
    <input class="col-md-1 col-md-push-2" type="submit" value="Login"/>
    </div>

    <p class="text-info">@Html.ActionLink(Login.ForgotPassword, "ForgotPassword", "Home")</p>
    <h4 class="text-muted">@TempData["loginmessage"]</h4>
}
</div>
<br/>
@Html.ValidationSummary()
<br/>

